// Define variables for your color scheme

// For example:
$turquoise: #439288;
$lightorange: #F4A261;
$darkorange: #E76F51;
$darkblue: #2B4651;
$gray: #0E0000;
$light-gray: #DDDDDD;
$yellow: #E9C46A;
$white: #ffffff;
