// Specific CSS for your home-page

.w3-container {
  align-items: center;
  padding-top: 70px;
  background-color: $white;
}

.container {
  text-align: center;
  width: 180px;
  padding-top: 20px;
  background-color: $white;
}

.photo {
  background: asset_url("cake-background.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - (170px));
  align-items: flex-start;
  flex-direction: column;
  padding-left: 200px;
}

// .landingphoto{
//   width: auto;
//   height: auto;
//   object-fit: fill;
// }

.btn{
  font-family: Roboto;
  text-align: center;
  font-size: 14px;
  align-items: center;
  display: block;
  width: 150px
  border-radius 10px;
}


h1 {
  font-family: Lobster;
  color: $darkblue;
  text-align: center;
  font-size: 64px;
}

h2 {
  font-family: Roboto;
  color: $turquoise;
  text-align: center;
}

h3 {
  font-family: Lobster Two;
  color: $turquoise;
  text-align: center;
  font-size: 48px;
}


.footer {
  background-color: $white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 5px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 5px;
}
.footer-links a:hover {
  opacity: 1;
}
