<h1>Our cakes</h1>
<h4>All of our delicious cakes are made to order by star home bakers</h4>

<%# cake image urls %>
<%# grid of cards to replace li %>

<ul>
  <% @cakes.each do |cake| %>
    <li><%= link_to cake.name, cake_path(cake) %></li>
    <li><%= cake.description %></li>
    <li><%= cake.price %></li>
  <% end %>
</ul>
