.indexphoto{
  max-height: 200px;
  width: auto;
  object-fit: fill;
}

#price{
margin-bottom: 0px;
}

#cake-description{
  margin-bottom: 16px;
}

.flex{
  display: flex;
  justify-content: space-between;
}
// .cake-index{
//   align-items: center;
// }
