.show-items {
  margin-top: 32px;
}
.cakephoto {
  width: 60%;
  // width: auto;
  // object-fit: cover;
  // margin-left: 50px;
}


.buy-form {
  background-color: rgba(#dae6e4, 0.51);
  padding: 16px;
  width: 60%;
  margin: 0 auto;
  }

//   .back-link {
//   }
