
.cakephoto{
  height: 400px;
  width: auto;
  object-fit: cover;
}


.card-body-show{
  align-content: center;
  align-self: center;
  margin-top: 100px;
  background-color: #f9f9f9;
  width: 500px;
  text-align: center;
  }
