<div class="confirmed-order">
  <h3 style="text-align:center">Thank you! Your order of <%=@order.cake.name.downcase%> cake has been placed!</h3>
  <%= link_to "Finish", cakes_path, class: "btn btn-primary" %>
</div>
