
<div class="photo">
  <div class="heading">
    <h3>Find your dream cake</h3>
  </div>
  <div class="button">
    <%=link_to "See our cakes", cakes_path, class:"btn btn-danger" %>
  </div>
</div>
  <%# <div class="photo"> %>
   <%# <img src="https://wallpaperboat.com/wp-content/uploads/2019/12/birthday-cake-02.jpg" class="landingphoto" alt="photograph of a cake"> %>
  <%# </div> %>
