
<head>
  <div class="w3-container">
    <h1>Cakes'n'Crumbs</h1>
    <h2>Find your dream cake</h2>
  </div>

  <div class="container cakes-container">
    <%=link_to "See our cakes", cakes_path, class:"btn btn-danger" %>
  </div>
</head>

<body>
  <div class="photo">
    <img src="https://cdn.londonandpartners.com/-/media/images/london/visit/things-to-do/food-and-drink/cafe/cutter-and-squidge/cutter_squidge_eton_mess_slice_1920.jpg?mw=1030&hash=BD3CD4959F778D56E7CE66FB51E3962C399171BB" class="landingphoto" alt="photograph of a cake">
  </div>
</body>

<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      © Cakes'n'Crumbs, 2021
    </div>
  </div>
</footer>
