.navbar-lewagon {
  justify-content: space-between;
  background: rgba(62, 120, 114, 0.353);
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 20px;
}
